.global-loading {
  position: fixed;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .dimmer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
  }

  .spinner {
    z-index: 10;
  }
}
