:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  // zoom을 막아봅시다
  touch-action: manipulation;
  -webkit-user-scalable: no;
  -moz-user-scalable: no;
  -ms-user-scalable: no;
  user-scalable: no;
}

#root {
  width: 100vw;
}

html, body, #root, .adm-form-footer {
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.check-list-container {
  max-height: 300px;
  overflow: scroll;
}

#root {
  background-color: #FAFBFC;
  height: 100vh;
}

#root > div > div {
  background-color: #FAFBFC;
}

.adm-nav-bar {
  border-bottom: 1px solid #efefef !important;
}

h1, h2, h3, h4 {
  font-weight: 700;
}
/* Default CSS for h1 tag */
h1 {
  font-size: 24px;
  color: black;
  margin: 10px 0;
}

/* Default CSS for h2 tag */
h2 {
  font-size: 20px;
  color: black;
  margin: 10px 0;
}

/* Default CSS for h3 tag */
h3 {
  font-size: 18px;
  color: black;
  margin: 10px 0;
}

/* Default CSS for h4 tag */
h4 {
  font-size: 16px;
  color: black;
  margin: 10px 0;
}

/* Default CSS for p tag */
p {
  font-size: 14px;
  color: black;
  margin: 10px 0;
}

/* Default CSS for anchor tag */
a {
  color: blue;
  text-decoration: none;
}

/* Default CSS for img tag */
img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.has-pagination {
  flex: 1;
  display: flex;
  flex-direction: column;
  & > .top {
    flex: 1;
  }
  & > .bottom {}
}

// featured image 이름이 길때 오른쪽으로 짤리더라
.adm-form-item-child-inner {
  max-width: calc(100vw - 16px * 2);
}

.add-product-page,
.edit-product-page {
  .adm-button {
    &.active {
      color: var(--adm-color-primary) !important;
      border-color: var(--adm-color-primary) !important;
    }
  }
}