.add-product-page {
  .adm-image-uploader-cell.adm-image-uploader-upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-upload-list-item {
    padding-top: 0 !important;
  }

  .gallery-image-form-item .ant-upload-list-picture {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    column-gap: 10px;
  }
  .gallery-image-form-item {
    .ant-upload-list-item-name {
      display: none !important;
    }
  }

  .product-category-cascader-view {
    .adm-cascader-view-header-title {
      max-width: 110px;
    }
    .adm-list-body-inner {
      // max-height: 208px;
      overflow-y: scroll;
    }
  }
}

